<app-header></app-header>
<main>
    <div class="container">
        <div class="row my-4">
            <!--===========================================
            =            Desktop & Tablet View            =
            ============================================-->

            <div *ngFor="let productDetail of compareProductList;"
                [ngClass]="(compareProductList.length <= 2)?'col-md-6 col-sm-6 col-6 d-none d-md-block':'col-md-4 col-sm-4 col-4 d-none d-md-block'">
                <div class="carousel slide row m-0" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner col-md-10 p-sm-1 rounded-0 img-thumbnail d-flex align-items-center" [ngStyle]="(compareProductList.length <= 2) ? { 'min-height': '490px' } : {}">
                        <div  *ngIf="productDetail.images && productDetail.images.length > 0" class="carousel-item active">
                            <div (click)="open('',available,'xl')">
                                <img [src]="productDetail.images[0].image_url" alt="..." class="w-100" style="cursor: pointer;"/>
                                <ng-template  #available let-modal>
                                  <div class="d-none d-md-block">
                                   <div class="modal-content modal-body catalogue-v-l d-flex justify-content-center align-items-center" >
                                    <p (click)="modal.dismiss('Cross click')" class="mb-0 text-muted cur-pointer" style="position: absolute; top: 10px; right: 20px;cursor: pointer;">
                                      X
                                    </p>
                                    <img class="modal_img w-100" src="{{productDetail.images[0].image_url}}" alt="...">
                                   </div>
                                  </div>
                                </ng-template>
                              </div>
                        </div>

                        <div *ngIf="!productDetail.images || productDetail.images.length === 0"
                            class="carousel-item active d-flex justify-content-center align-items-cente">
                            <img src="assets/images/footer-logo.png" class="rounded-circle footerLogPlaceHolder">
                        </div>
                    </div>
                </div>
                <div class="row mt-4 d-flex flex-row">
                    <div [ngClass]="{'low-opacity': isLow}"  #divZoomed class="img-zoom-result"></div>
                    <div class="col-sm-6">
                        Part Number
                    </div>
                    <div class="col-sm-6 font-weight-bold">
                        {{productDetail.company_sku}}
                    </div>

                    <div class="col-sm-6">
                        Part
                    </div>
                    <div class="col-sm-6 font-weight-bold">
                        {{productDetail?.brand?.name}} {{productDetail?.name}}
                    </div>

                    <div class="col-sm-6">
                        Vehicle
                    </div>
                    <div class="col-sm-6 font-weight-bold">
                        {{productDetail?.make?.name}} {{productDetail?.vehicle?.year_range}}
                        {{productDetail?.model?.name}}
                    </div>

                    <div class="col-sm-6" *ngIf="isPriceVisible === true">
                        Price Net
                    </div>
                    <div class="col-sm-6 font-weight-bold" *ngIf="isPriceVisible === true">
                        ${{productDetail.price_nett}}
                    </div>

                    <div class="col-sm-6" *ngIf="isPriceVisible === true">
                        Price Retail
                    </div>
                    <div class="col-sm-6 font-weight-bold" *ngIf="isPriceVisible === true">
                        ${{productDetail.price_retail}}
                    </div>
                    <div class="col-sm-6">
                        Fiting Position
                    </div>
                    <div class="col-sm-6">
                        {{productDetail.fitting_position}}
                    </div>

                    <div class="col-sm-6">
                        Brake System
                    </div>
                    <div class="col-sm-6">
                        <!-- {{productDetail.brake_system}} -->
                        {{ productDetail.brake_system ? productDetail.brake_system : productDetail.description }}
                    </div>
                    <div class="col-sm-6">
                        Length
                    </div>
                    <div class="col-sm-6">
                        {{productDetail.length}}
                    </div>
                    <div class="col-sm-6">
                        Height
                    </div>
                    <div class="col-sm-6">
                        {{productDetail.height}}
                    </div>
                    <div class="col-sm-6">
                        Thickness
                    </div>
                    <div class="col-sm-6">
                        {{productDetail.thickness}}
                    </div>
                    <div class="col-sm-6">
                        Weight (G)
                    </div>
                    <div class="col-sm-6">
                        {{productDetail.weight}}
                    </div>
                </div>
				<div class="row d-flex flex-row" *ngFor="let criteria of productDetail.criteria">
					<div class="col-sm-6">
						{{criteria.criteria_name}}
					</div>
					<div class="col-sm-6">
						{{criteria.criteria_value}}
					</div>
				</div>
                <div class="mt-4 row">
                    <div class="quantity-block d-inline-block m-0 col-6">
                        <div class="order_quantity input-group m-0">
                            <button type="button" class="quantity-minus btn btn-lg btn-gray btn-icon" data-type="minus"
                                data-field="" (click)="quantityDecrement(productDetail)"><i
                                    class="flaticon-minus-symbol"></i></button>
                            <input type="text" name="quantity" class="form-control quantity-input-number"
                                value="{{productDetail.quantity}}" min="1" max="100">
                            <button type="button" class="quantity-plus btn btn-lg btn-gray btn-icon" data-type="plus"
                                data-field="" (click)="quantityIncrement(productDetail)"><i
                                    class="flaticon-plus-symbol"></i></button>
                        </div>
                    </div>
                    <button type="button" class="order_button btn btn-primary btn-order " (click)="addToCart(productDetail);">Add to
                        Order</button>
                </div>
            </div>


            <!--====  End of Desktop & Tablet View  ====-->

            <!--=================================
            =            Mobile View            =
            ==================================-->
            <div class="col-xs-12 col-sm-12 d-md-none mobielViewCompare">
                <table class="table table-bordered">
                    <tr>
                        <th> </th>
                        <td *ngFor="let product of compareProductList; let i = index" >
                            <img *ngIf="product.images && product.images.length !== 0" 
                                 [src]="product.images[0].image_url" 
                                 (click)="open(product.images[0].image_url, available, '')" />
                          </td>
                        <ng-template #available let-modal>
                            <div class="modal-content modal-body catalogue-v-l d-flex justify-content-center align-items-center">
                             <p (click)="modal.dismiss('Cross click')" class="mb-0 text-muted cur-pointer" style="position: absolute; top: 10px; right: 20px">
                               X
                             </p>
                             <img src="{{selectedImageSrc}}">
                            </div>
                         </ng-template>
                    </tr>
                    <tr>
                        <th nowrap>Part Number</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.company_sku }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Part</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.brand?.name }}<br />
                            <span class="text-muted">{{ product?.name }}</span>
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Vehicle</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.make?.name }} {{ product?.vehicle?.year_range }} {{ product?.model?.name }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Price Net</th>
                        <td *ngFor="let product of compareProductList">
                            ${{ product?.price_nett }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Price Retail</th>
                        <td *ngFor="let product of compareProductList">
                            ${{ product?.price_retail }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Fiting Position</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.fitting_position }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Brake System</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.brake_system ? product.brake_system : product?.description }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Length</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.length }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Height</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.height }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Thickness</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.thickness }}
                          </td>
                    </tr>
                    <tr>
                        <th nowrap>Weight (G)</th>
                        <td *ngFor="let product of compareProductList">
                            {{ product?.weight }}
                          </td>
                    </tr>
					<tr *ngFor="let criteria of compareProductList[0]?.criteria">
                        <th nowrap>{{ criteria.criteria_name }}</th>
                        <td *ngFor="let product of compareProductList">
                          {{ product.criteria_value }}
                        </td>
                      </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td *ngFor="let product of compareProductList">
                            <div class="quantity-block d-inline-block ml-0 mb-3 w-100" *ngIf="compareProductList && compareProductList.length && compareProductList[0]">
                                <div class="input-group m-0 w-100">
                                    <button type="button" class="quantity-minus btn btn-lg btn-gray btn-icon"
                                        data-type="minus" data-field=""
                                        (click)="quantityDecrement(product)"><i
                                            class="flaticon-minus-symbol"></i></button>
                                    <input type="text" name="quantity" class="form-control quantity-input-number"
                                        value="{{product.quantity}}" min="1" max="100">
                                    <button type="button" class="quantity-plus btn btn-lg btn-gray btn-icon"
                                        data-type="plus" data-field=""
                                        (click)="quantityIncrement(product)"><i
                                            class="flaticon-plus-symbol"></i></button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-order w-100"
                            *ngIf="compareProductList && compareProductList.length"
                                (click)="addToCart(product);">Add to
                                Order</button>
                        </td>
                    </tr>
                </table>
            </div>
            <!--====  End of Mobile View  ====-->

        </div>
        <div class="my-5 text-center">
            <button type="button" (click)="back()" class="btn btn-outline-secondary btn-order btn-long">Back to
                Search</button>
        </div>
    </div>
</main>
<app-footer></app-footer>
