.img-thumbnail{
    height: 250px;
}

.mobielViewCompare{
    overflow-x:auto;
    width:100%;
    -webkit-overflow-scrolling:touch!important;
    -webkit-transform:translate3d(0,0,0)!important;
    font-size: 14px;
}

.mobielViewCompare table td {
    min-width: 180px;
    max-width: 180px;
}

.mobielViewCompare::-webkit-scrollbar { width: 0 !important }
.mobielViewCompare { overflow: -moz-scrollbars-none; }
.mobielViewCompare { -ms-overflow-style: none; }

.quantity-block{
    max-width: initial !important;
}
.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 650px;
    height: 500px;
    z-index: 1000000000!important;
    /*background: #6c757d;*/
    position: absolute!important;
}
.img-result-zoomed{
    display: none;

}
.main-product-file:hover .img-result-zoomed{
    background-color: blue!important;
    display: block!important;
}
.low-opacity{
    margin-left: -9999px;
}
.modal-content{
    height: 700px;
}
.modal_img{
    max-width: 500px;
}
@media (max-width: 991px){
    .modal-content{
        height: 500px;
    }
    .quantity-block{
        padding-left: 0%;
    }
    .order_quantity{
        width: 183%;
    }
    .order_button{
        margin-top: 4%;
        width: 80%;
    }
}
@media (max-width: 576px) {
    .modal-content{
        height:350px;
    }
}
@media(min-width:991px) and (max-width:2500px){
    .carousel-inner{
        min-height: 325px;
    }
}
