.associatedParts {
    color: #333;
    font-size: 14px;
}

.associatedParts th {
    border: 0;
}
.quantity-block{
    padding-right: 0px;
}
.associated_parts_table{
    padding-right: 1px;
}
@media (min-width: 1400px) and (max-width:2500px){
.part_number{
    padding-left: 0px;
}
.part_number_values{
    padding-left: 0px;
}
.buttons{
    padding-right: 0px;
}
}