.imageRounded {
    width: 60px;
    height: 60px;
    overflow:hidden;
}
.product_image {
    height: 100%;
}
.imageRounded img{
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 650px;
    height: 500px;
    z-index: 1000000000!important;
    position: absolute!important;
}
.img-result-zoomed{
    display: none;
}
.main-product-file:hover .img-result-zoomed{
    background-color: blue!important;
    display: block!important;
}
.low-opacity{
    margin-left: -9999px;
}
.competitor_details{
    border: 2px solid #ccc;
  border-radius: 10px; 
  padding: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white; 
  margin-left: 1px; 
  margin-bottom: 15px;
}
.competitor_details_heading,
.competitor_details_values{
    line-height: 35px;
}
.btn-outline-primary {
    display: inline-block;
    margin-top: 47px; 
    margin-left: 99px; 
  }
hr{
    width: 110%;
}
.carousel-inner{
    height: 300px;
}
.carousel{
    max-height: 95%;
}
.form-horizontal .form-group {
    margin-bottom: 1rem;
    position: relative;
  }
  .form-horizontal .form-group label {
    margin-bottom: 0.5rem;
  }  
  .input-animate {
    position: relative;
  } 
  .input-animate input,
  .input-animate select,
  .input-animate textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  } 
  .form-check {
    display: inline-block;
    margin-right: 1rem;
  } 
  .form-check-input {
    margin-top: 0.3rem;
  } 
  .form-check-label {
    margin-left: 0.3rem;
  }
.add_to_range_label{
    max-width: 135px;
}
.form-check{
padding: 0px;
margin: 0px;
}
.form-check-label{
    padding: 0px;
}
.add_to_range_radiobox{
    margin-left: 22px;
    max-width: 80px;
}
.hold_stock_radiobox1{
    margin-left: 5px;
}
.ordering_line,
.additional_info_line{
    margin-left: -5px;
}
.add_to_range_no_main{
    padding-left: 43px;
}
.hold_stock_no_main{
    margin-top: -31px;
    margin-left: 54px;
}
.image_thumbnail{
    width: 70px;
    height: 70px;
}
.additional-information-mobile{
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 1400px) and (max-width:2500px){
    .additional-information{
         width: 210px;
        border: 1px solid  #dedede;
        border-top: none;
        margin-top: -6px;
        padding-left: 10px;
        padding-bottom: 170px;
    }
      .market_intel_line{
    max-width: 500px;
  }
    form{
        min-width: 503px;
    }
    .competitor_details{
        min-width: 498px;
    }
    .back_to_search{
        position: absolute;
        bottom: 0px;
        left:50%;
    }
    }
 
  @media (max-width: 991px){
    .competitor_details{
        width: 100%;
    }
   .order_label{
    margin-top: 5%;
   }
hr{
    width: 100%;
}
.save_note{
    margin-top: 10px;
}
.add_to_range_label {
    margin-right: 0;
}
.add_to_range_radiobox 
{
    margin-top: 42px;
    margin-left: -96px;
}
.hold_stock_radiobox1{
    padding: auto;
    margin-top: 10px;
    margin-left: 35px;
}
.hold_stock_no_main{
    margin-left: -70px;
}
.add_to_range_no_main{
    margin-left: 20px;
}
.hold_stock_radiobox2{
    margin-top: -32px;
    margin-left: 165px;
}
.additional-information{
    margin-top: 0px;
}
.back_to_search{
    position: absolute;
    bottom:16px;
    left:67%;
}

.ordering_button{
    margin-left: 240px;
}
  }
    
@media (max-width: 576px) {
    .competitor_details{
        width: 100%;
    }
form{
    min-width: 320px;
}
.ordering_button{
    margin-left: 0px;
}
.back_to_search{
    position: absolute;
    bottom:195px;
    left:52%;
}
.add_to_range_no_main{
    margin-left: 15px;
}
}
@media(min-width:985px) and (max-width:1210px){
    .column-heading{
        font-size: 24.8px;
    }
}
@media (min-width: 1400px) and (max-width:2500px){
    .add_to_range_label {
        margin-right: 0;
    }
    .add_to_range_radiobox 
    {
        margin-top: 42px;
        margin-left: -96px;
    }
    .thumbnail-image{
        height: 100px;
    }
    .hold_stock_radiobox1{
        padding: auto;
        margin-top: 10px;
        margin-left: 35px;
    }
    .hold_stock_no_main{
        margin-left: -70px;
    }
    .add_to_range_no_main{
        margin-left: 20px;
    }
    .hold_stock_radiobox2{
        margin-top: -32px;
        margin-left: 165px;
    } 
}
@media (max-width: 1380px) and (min-width:950px) {
    .add_to_range_label{
        min-width: 150px;
    }
    .hold_stock_radiobox{
        margin-left: 33px;
    }
}