<app-header></app-header>
<main>
    <div class="container">
        <div class="row my-4">
          <div class="col-lg-3 d-sm-block mb-3">
            <div class="d-none d-sm-block">
            <h3 class="column-heading text-dark">Product Attributes</h3>
            <hr>
            <div class="carousel slide d-flex h-50" id="product-1" data-ride="carousel" data-interval="false">
              <div *ngIf="ProductImages && ProductImages.length != 0" class="carousel-inner col rounded-0 img-thumbnail">
                <div *ngFor="let img of ProductImages" class="carousel-item" [ngClass]="{'active': img == selectedProductImage}">
                  <div (mouseover)="showPreview()" (mouseout)="hidePreview()">
                    <app-zoom [img]="img.image_url" [zoom]="8.4" [lenSize]="50" [customBackgroundSize]="'1500px 1400px'" class="d-lg-block d-none w-100" [divZoomed]="divZoomed"></app-zoom>
                    <app-zoom [img]="img.image_url" [zoom]="2" [lenSize]="80" [customBackgroundSize]="'1000px 1000px'" class="d-md-block d-none d-lg-none w-100" [divZoomed]="divZoomed2"></app-zoom>
                  </div>
                </div>
              </div>
              <div *ngIf="!ProductImages || ProductImages.length == 0" class="carousel-inner col rounded-0 img-thumbnail d-flex justify-content-center">
                <img src="assets/images/footer-logo.png" class="rounded-circle footerLogPlaceHolder">
              </div>
       
              <div class="thumbnail-image col-3 pl-2 pr-2" *ngIf="ProductImages">
                <ul class="list-unstyled d-inline carousel-indicators position-relative m-0">
                  <li *ngFor="let img of ProductImages" data-target="#product-1" data-slide-to="0" class="mb-2 border h-auto w-auto" (click)="selectImage(img)" [ngClass]="{'active': img == selectedProductImage}">
                    <img src="{{img.image_url}}" class="" alt="...">
                  </li>
                </ul>
              </div>
            </div>
            </div>         
            <div class="additional-information d-none d-sm-block">
              <div [ngClass]="{'d-md-block d-none d-lg-none': true, 'low-opacity': isLow}"  #divZoomed2 class="img-zoom-result"></div>             
              <div class="row mt-2 d-flex flex-row">
                <div class="col-sm-6 col-6">Fitting Position</div>
                <div class="col-sm-6 col-6">{{productDetail.fitting_position}}</div>
                <div class="col-sm-6 col-6">Brake System</div>
                <div class="col-sm-6 col-6">{{productDetail.brake_system ? productDetail.brake_system : productDetail.description}}</div>
                <div class="col-sm-6 col-6">Length</div>
                <div class="col-sm-6 col-6">{{productDetail.length}}</div>
                <div class="col-sm-6 col-6">Height</div>
                <div class="col-sm-6 col-6">{{productDetail.height}}</div>
                <div class="col-sm-6 col-6">Thickness</div>
                <div class="col-sm-6 col-6">{{productDetail.thickness}}</div>
                <div class="col-sm-6 col-6">Weight (G)</div>
                <div class="col-sm-6 col-6">{{productDetail.weight}}</div>
              </div>
              <div class="row d-flex flex-row" *ngFor="let criteria of productDetail.criteria">
                <div class="col-sm-6 col-6">{{criteria.criteria_name}}</div>
                <div class="col-sm-6 col-6">{{criteria.criteria_value}}</div>
              </div>
            </div>
          </div>
          <div class="additional-information-mobile d-lg-none d-md-none">
            <h3 class="text-dark">Product Attributes</h3><hr>
            <div class="col-12 pl-2 pr-2 d-sm-none">
              <div class="row">
                <div class="col-4" *ngFor="let img of ProductImages; let i = index">
                  <ul class="list-unstyled d-inline position-relative m-0">
                    <li data-target="#product-1" [attr.data-slide-to]="i" class="mb-2 border h-auto w-auto" (click)="selectImage(img)" [ngClass]="{'active': img == selectedProductImage}">
                      <img [src]="img.image_url" alt="...">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row mt-2 d-flex flex-row">
              <div class="col-sm-6 col-6">Fitting Position</div>
              <div class="col-sm-6 col-6">{{productDetail.fitting_position}}</div>
              <div class="col-sm-6 col-6">Brake System</div>
              <div class="col-sm-6 col-6">{{productDetail.brake_system ? productDetail.brake_system : productDetail.description}}</div>
              <div class="col-sm-6 col-6">Length</div>
              <div class="col-sm-6 col-6">{{productDetail.length}}</div>
              <div class="col-sm-6 col-6">Height</div>
              <div class="col-sm-6 col-6">{{productDetail.height}}</div>
              <div class="col-sm-6 col-6">Thickness</div>
              <div class="col-sm-6 col-6">{{productDetail.thickness}}</div>
              <div class="col-sm-6 col-6">Weight (G)</div>
              <div class="col-sm-6 col-6">{{productDetail.weight}}</div>
            </div>
            <div class="row d-flex flex-row" *ngFor="let criteria of productDetail.criteria">
              <div class="col-sm-6 col-6">{{criteria.criteria_name}}</div>
              <div class="col-sm-6 col-6">{{criteria.criteria_value}}</div>
            </div>
          </div>
            <div class="col-lg-4">
                <h3 class="column-heading text-dark order_label"> Ordering</h3><hr class="ordering_line">
                <div [ngClass]="{'d-lg-block d-none': true,'low-opacity': isLow}"  #divZoomed class="img-zoom-result"></div>             
                <div class="d-flex flex-row align-items-top row">
                    <div class="col" *ngIf="productDetail">
                        <p class="mb-0 text-muted">Part Number</p>
                        <p class="h2 text-dark">{{productDetail?.company_sku}}</p>

                        <p class="mb-0 text-muted">Part (name)</p>
                        <p class="text-dark">{{productDetail?.brand?.name}} {{productDetail?.name}}</p>

                        <app-vehicles *ngIf="productDetail && productDetail.vehicles && productDetail.vehicles.length != 0" [vehicles]="productDetail.vehicles"></app-vehicles>
                    </div>

                </div>
               
                <div class="d-flex flex-row align-items-top row">
                    <div class="col-sm-4 col-4" *ngIf="isPriceVisible == true">
                        <h2 class="mt-1 mb-3">{{productDetail.price_nett | currency: 'USD': 'symbol': '1.2-2'}}</h2>
                        <p class="text-muted">Retail Price: {{productDetail.price_retail | currency: 'USD': 'symbol': '1.2-2'}}</p>
                        <p class="mb-0">
                          Delivery:
                          <span *ngIf="availableIntraState">Same Day</span> 
                          <span *ngIf="!availableIntraState && availableInterState">Next Day</span> 
                        </p>
                    </div>
                    <div class="col-sm-8 col-8">
                        <div class="overflow-auto mb-3 pr-3" style="max-height: 180px;">
                          <table class="table vehicleTable qtyTable">
                            <tbody>
                              <tr *ngFor="let item of productDetail.qty_with_location">
                                <td scope="row" *ngIf="(item.qty != 0 && this.currentUser.state == item.branch.state)">{{item.branch.name}}</td>
                                <td align="center" *ngIf="(item.qty != 0 && this.currentUser.state == item.branch.state)">{{item.qty}}</td>
                              </tr>
                              <tr *ngIf="(this.interStateQuantity > 0)">
                                <td scope="row">Interstate</td>
                                <td align="center">{{this.interStateQuantity}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="ordering_button col-sm-8 col-lg-12 col-12 text-right">
                        <div class="quantity-block d-inline-block ml-0 mr-3">
                            <div class="input-group m-0">
                                <button type="button" class="quantity-minus btn btn-gray btn-icon" data-type="minus"
                                    data-field="" (click)="quantityDecrement(productDetail)"><i
                                        class="flaticon-minus-symbol"></i></button>
                                <input type="text" name="quantity"
                                    class="form-control quantity-input-number" value="{{productDetail.quantity}}"
                                    min="1" max="100">
                                <button type="button" class="quantity-plus btn btn-gray btn-icon" data-type="plus"
                                    data-field="" (click)="quantityIncrement(productDetail)"><i
                                        class="flaticon-plus-symbol"></i></button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-order col-5 text-nowrap"
                            (click)="addToCart(productDetail);">Add to Order</button>
                        <div class="custom-control custom-checkbox mt-2" *ngIf="productDetail.is_compare != undefined"
                            (click)="onCompareChange(productDetail)">
                            <input type="checkbox" class="custom-control-input" id="compareCheck" value="1"
                                [checked]="productDetail.is_compare == 0 ? false : true">
                            <label class="custom-control-label" for="compareCheck1">Compare</label>
                        </div>
                        <button (click)="back()" class="btn btn-outline-secondary btn-order btn-long my-3 col-7 d-lg-none d-md-block ml-auto text-nowrap">Back to
                          Search</button>
                    </div>
                    <div class="back_to_search  d-none d-lg-block ml-auto">
                        <button (click)="back()" class="btn btn-outline-secondary btn-order btn-long my-3 text-nowrap">Back to
                            Search</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <h3 class=" column-heading text-dark"> Market Intel</h3><hr class="market_intel_line">
                <div class="competitor_details">
                    <div class="row">
                  <div class="col-lg-5 col-md-5 col-5">Cross Ref</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>

                  <div class="col-lg-6 col-md-6 col-6 " *ngIf="productDetail.notes && productDetail.notes.length > 0">
                    <span class="h5 text-dark">{{ productDetail.notes[0].cross_ref }}</span>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5"> Cross Ref Buy Price</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6 " *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].crossref_buy_price ? ('$' + productDetail.notes[0].crossref_buy_price) : null }}
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5">Grade</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6" *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].grades }}</div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5">Delivery Time</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6 " *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].delivery_time }}</div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5">Add to Range</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6 " *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].add_to_range }}</div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5"> Hold Stock</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6 " *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].hold_stock }}</div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5"> Target Buy Price</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6" *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].target_buy_price ? ('$' + productDetail.notes[0].target_buy_price) : null }}</div>
                  </div>
                  <div class="row">
                  <div class="col-lg-5 col-md-5 col-5"> Comments</div>
                  <div class="col-lg-1 col-md-1 col-1"> :</div>
                  <div class="col-lg-6 col-md-6 col-6" *ngIf="productDetail.notes && productDetail.notes.length > 0">{{ productDetail.notes[0].description }}</div>
                  </div>
                </div>               
                <form *ngIf="userid !== undefined" class="form-horizontal" [formGroup]="noteForm" (ngSubmit)="onSubmitNoteForm()">
                <div class="form-group">
                    <div class="input-animate">
                        <input type="hidden" class="form-control" formControlName="product">
                        <span class="focus-border"><i></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-animate">
                        <input type="hidden" class="form-control" formControlName="user_id">
                        <span class="focus-border"><i></i></span>
                    </div>
                </div>
             <div class="row">
                <div class="form-group col-6">
                    <label for="cross_ref">Cross Ref</label>
                    <div class="input-animate">
                      <input id="cross_ref" type="text" class="form-control" formControlName="cross_ref" placeholder="Enter Part Number" required/>
                      <span class="focus-border"><i></i></span>
                  </div> 
                  <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('cross_ref')"></control-messages>
                </div>
                  <div class="form-group col-6">
                    <label for="crossref_buy_price">Cross Ref Buy Price</label>
                    <div class="input-animate">
                      <input id="crossref_buy_price" type="number" class="form-control" formControlName="crossref_buy_price" placeholder="Enter Buy Price" min="0" required/>
                      <span class="focus-border"><i></i></span>
                    </div>
                    <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('crossref_buy_price')"></control-messages>
                  </div>
                  </div>
                  <div class="row">
                  <div class="form-group col-6 ">
                    <label for="grades">Grades</label>
                    <div class="input-animate">
                      <select id="grades" class="form-control" formControlName="grades"required>
                        <option value="" selected>Select </option>
                        <option value="Performance">Performance</option>
                        <option value="OEM Spec">OEM Spec</option>
                        <option value="Generic">Generic</option>
                      </select>
                      <span class="focus-border"><i></i></span>
                    </div>
                    <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('grades')"></control-messages>
                  </div>
                  <div class="form-group col-6">
                    <label for="delivery_time">Delivery Time</label>
                    <div class="input-animate">
                      <select id="delivery_time"class="form-control" formControlName="delivery_time" required>
                        <option value="" selected>Select</option>
                        <option value="30 Minutes">30 Minutes</option>               
                        <option value="2 Hours">2 Hours</option>
                        <option value="Overnight">Overnight</option>               
                     </select>
                      <span class="focus-border"><i></i></span>
                    </div>
                    <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('delivery_time')"></control-messages>
                  </div></div>
                  <div class="row">
                <div class="form-group col-6">
                <div class="row">
                <label for="add_to_range" class="add_to_range_label col-lg-7">Add to Range</label>
                <div class=" add_to_range_radiobox input-animate">
                <div class="form-check col-3">
                <input class="form-check-input" type="radio" name="add_to_range" id="add_to_range_yes" value="Yes" formControlName="add_to_range" checked/>
                <label class="form-check-label" for="add_to_range_yes"> Yes </label>
                </div>
                <div class="form-check col-2 ">
                    <div class="add_to_range_no_main">
                <input class="form-check-input "type="radio" name="add_to_range" id="add_to_range_no" value="No" formControlName="add_to_range"/>
                <label class="form-check-label " for="add_to_range_no"> No </label>
                </div>
                </div>
                <span class="focus-border"><i></i></span>
                </div>
                <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('add_to_range')"></control-messages>
                </div>
                </div>
                <div class="form-group col-6" >
                <div class="row">
                <label for="hold_stock" class="col-lg-7">Hold Stock</label>
                <div class="input-animate hold_stock_radiobox">
                <div class="form-check hold_stock_radiobox1 col-3">
                <input class="form-check-input" type="radio" name="hold_stock" id="hold_stock_yes" value="Yes" formControlName="hold_stock" checked/>
                <label class="form-check-label " for="hold_stock_yes"> Yes </label>
                </div>
                <div class="hold_stock_radiobox2 col-2">
                 <div class="hold_stock_no_main">
                <input class="form-check-input" type="radio" name="hold_stock" id="hold_stock_no" value="No" formControlName="hold_stock"/>
                <label class="form-check-label " for="hold_stock_no"> No </label>
                </div>
                </div>
                <span class="focus-border"><i></i></span>
                </div>
                <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('hold_stock')"></control-messages>
                </div>
                </div>
                </div>
                <div class="row">
                <div class="form-group col-6">
                  <label for="description">Comment</label>
                  <div class="input-animate">
                    <textarea id="description" rows="1" class="form-control" formControlName="description" placeholder="Comment" minlength="2" required></textarea>
                    <span class="focus-border"><i></i></span>
                  </div>  
                 <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('description')"></control-messages>
                </div>              
                <div class="form-group col-6 col-md-6">
                    <label for="target_buy_price">Target Price</label>
                    <div class="input-animate">
                      <input id="target_buy_price" type="number" class="form-control" formControlName="target_buy_price" placeholder="Price" min="0" required/>
                      <span class="focus-border"><i></i></span>
                    </div>    
                    <control-messages *ngIf="isNoteFormSubmoted" [control]="noteForm.get('target_buy_price')"></control-messages>               
                  </div>
                  </div>
                <div class="form-group text-right">
                  <button type="submit" class="save_note btn btn-outline-primary"> Save Note </button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
              </form>
            </div>
        </div>
    </div>
    <div class="container-fuild bg-gray">
        <app-associated-parts *ngIf="productDetail && productDetail.associated_parts && productDetail.associated_parts.length != 0" [parts]="productDetail.associated_parts"></app-associated-parts>         
    </div>
</main>
<app-footer></app-footer>

<app-compareoverlay *ngIf="compareProductList && compareProductList.length > 0 && visible"
    (visibleChange)="changeVisible($event)"></app-compareoverlay>
